@import url(variables.css);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    gap: 0;
}
body{
    background-color: var(--color-primary);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
}

.container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-template-areas: 
    "header header header header header"
    "supizq supizq supmed supmed supder"
    "supizq supizq supmed supmed supder"
    "medizq medizq supmed supmed supder"
    "medizq medizq supmed supmed medder"
    "medizq medizq supmed supmed medder"
    "bajizq bajizq bajder bajder bajder"
    "bajizq bajizq bajder bajder bajder"
    "bajizq bajizq bajder bajder bajder"
    ;
    width: 60%;
    height: 80%;
    text-align: center;
    background-color: whitesmoke;
    grid-gap: 1vw;
}

.container  div{
    border-radius: 15px;
    background-color: white;
    box-shadow: 10px 15px 15px rgba(0, 0, 0, .125)
}

.header{
    grid-area: header;
}

.main__supizq{
    grid-area: supizq;
}

.main__supmed{
    grid-area: supmed;
}

.main__supder{
    grid-area: supder;
}

.main__medizq{
    grid-area: medizq;
}

.main__medder{
    grid-area: medder;
}

.main__bajizq{
    grid-area: bajizq;
}

.main__bajder{
    grid-area: bajder;
}

@media (width < 600px){
    .container{
        width: 100%;
        margin: 0;
        padding: 0 10px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
        "menu menu"
        "notificate notificate"
        "sales balance"
        "week week"
        "devs devs"
        "prod prod"
        "time time"
        ;
    }
}